
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>General Arts</title>
<style>
table,th,td{
  border:1px solid;
}
tr:nth-child(even){background-color: #20d87c}
tr:hover {background-color: coral;}
th {
  background-color: #f7000c;
  color: white;
}
</style>
</head>
<body>
<h1>general arts</h1>
        <form action="/view-by-program" method="post">
    <select id="select1" name="program" >
    
        <option value="General Arts">General-Arts</option>
        <option value="Visual Arts">Visual-Arts</option>
        <option value="Home Economics">Home-Economics</option>
        <option value="Others">Others</option>
        <option value="Bussiness">Bussiness</option>
        <option value="Science">Science</option>
      </select>
      <input type="submit" value="view">
    </form>
       <div>  

<table>
  <tr>
  <th>ID</th>
  <th>FIRST NAME</th>
    <th>LAST NAME</th>
    <th>DATE OF BIRTH</th>
    <th>BECE AGGREGATE</th>   
    <th>PROGRAM</th>
    <th>PREVIOUS SCHOOL</th>
    <th>MOTHERS NAME</th>
    <th>MOTHER'S CONTACT</th>
     <th>FATHER'S NAME</th>
      <th>FATHER'S CONTACT</th>
  </tr>
  <% const numRow= data.length %>
<% 
for(let i=1;i<numRow;i++){%>
<tr><form action='' method='get'> <td><%=i%></td><td><input name='firstname' size='7' type='text'value='<%=data[i].first_name%>' readonly></td><td><input name='lastname'size='7' type='text'value='<%=data[i].last_name %>' readonly></td> 
<td><input name='dob' size='7' type="text" value='<%=data[i].dob%>'readonly></td><td><%=data[i].BECE_aggregrate%></td><td><%=data[i].program%></td>
<td><%=data[i].Previous_School%></td><td><%=data[i].mothers_name%></td><td><%=data[i].mothers_contact%></td>
<td><%=data[i].fathers_name%></td><td><%=data[i].fathers_contact%></td><td><input type='submit' value='view'/></td></form></tr>
<%} %> 
</table>
</div>
</body>
</html>