<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Print Out</title>
<style>
#container{
    margin: auto;
    border:2px solid yellow ;
    height: 700px;
    width: 80%;
}
#row{
margin: 20px;
font-weight: bold;
}
#contents{
    position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
#left{
	float: left;
	width: 200px;
	height: 100%;
	background-color: #17ad37;
}
#right{
	height: 100%;
	width: 100%;
	background-color: #969696;
}
</style>
</head>
<body>
<%
try{
connection=DriverManager .getConnection(url,username,passcode);
statement=connection.createStatement();
rset=statement.executeQuery(query);

while(rset.next()){ %>
    <div id="container">
        <div id="header"></div>
        <div id="contents">
            <div id="row"><div id="left">STUDENT FULL NAME:</div><div id="right"><%=rset.getString("first_name")+" "+rset.getString("last_name") %>  </div></div>
            <div id="row"><div id="left">DATE OF BIRTH:</div><div id="right"> <%=rset.getString("dob")%></div></div>
            <div id="row"><div id="left">PROGRAM:</div><div id="right"> <%=rset.getString("program") %> </div></div>
            <div id="row"><div id="left">BECE AGREGATE:</div><div id="right"><%=rset.getString("BECE_aggregrate")%></div></div>
            <div id="row"><div id="left">MOTHER'S NAME:</div><div id="right"><%=rset.getString("mothers_name")%></div></div>
            <div id="row"><div id="left">CONTACT:</div><div id="right"><%=rset.getString("mothers_contact")%></div></div>
            <div id="row"><div id="left">FATHER'S NAME:</div><div id="right"><%=rset.getString("fathers_name") %></div></div>
            <div id="row"><div id="left">CONTACT:</div><div id="right"><%=rset.getString("fathers_contact")%></div></div>
            <div id="row">GUARDIAN SIGNATURE:..........................................................</div>
</div>
</div> 

</body>
</html>